@charset "utf-8";
/* CSS Document */

#wrapper {
width: 900px;

margin: 0 auto;
text-align: center;
	border-color: #1E1A1A;
	border-width: thick;
	border-spacing: inherit;
		
}

 #water_image {
border: black #EC0A0E solid;
	 
}
 
 #coke_image {
display: none; /* hides content */
border: black #EC0A0E solid;
	 border-spacing: inherit;
}

 #orange_image {
display: none; /* hides content */
border: black #EC0A0E solid;
	 border-spacing: inherit;
}



